
body{
    width: 100%;
    height: 1000px;
}

#outside {
    z-index: 1;
    position: absolute;
    background-color: #1E1E1E;
    width: 100%;
    height: 2000px;
    text-align: center;
    transition: 1s;
    transform-origin: 0;
  }
  
  .open-card {
    transform: rotateY(90deg);
  }
  
  #outside-title {
        color: white;
        font-family: 'Inconsolata', monospace;
      font-size: 50pt;
      text-align: center;
    padding: 15px;
  }

  #outside-pic {
    max-width: 100%;
    height: 600px;
  }
  
  
  #inside {
    z-index: 0;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  #inside-title {
    color: blue;
    font-family: 'Inconsolata', monospace;
      font-size: 50pt;
      text-align: center;
    padding: 15px;
  }
  
  #inside-pic {
    max-width: 100%;
    height: 250px;
  
  }
  
  #message {
    color: black;
    font-family: 'Inconsolata', monospace;
    font-size: 25pt;
    text-align: center;
    padding: 20px;
  }

  button {
      font-size: 35px;
    margin: 20px;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
  }

  .Isabella {
    border: yellow solid 5px;
}

  .birthday-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.5s;
    width: 50%;
  }

  .birthday-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }
  .birthday-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    font-family: helvetica;
    text-align: center;
  }

  .giphy {
      display: flex;
  }

  .Moon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border : blue solid 5px;
    width: 100%;
    padding: 20px;
    background-color: black;
    
  }

  .MoonText {
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: white;
      background-color: black;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border:black solid 5px;
    background-color: peachpuff;
  }

  .TaofeekText {
    font-family: 'Georgia',cursive;
    margin-bottom: 0.3rem;
    font-size: 4rem;
    color: #33C5FF;
    letter-spacing: 4px;
    text-align: center;
  }

  button {
    border: none;
    padding: 0.75em;
    background: #DD2606;
    color: white;
    border-radius:999px;
    font-size: 1.2rem;
    font-family: monospace;
    margin-right: 20px;
    cursor: pointer;
    transition: background 0.2s ease;
  }
  button:hover {
    background: #DD2606;
  }
  @media screen and (max-width: 700px) {
    h1 {
      font-size: 3rem;
    }
    button {
      font-size: 1rem;
    }
  }

  .Eddie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: lightskyblue solid 10px;
    background-color: white;
  }

  .EddieText {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .Yadi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: tan solid 10px;
    background-color: rgb(87, 180, 87)
  }

  .YadiText {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }

  .Madison {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: rgb(104, 92, 71) solid 10px;
    background-color: rgb(255, 239, 149);
  }

  .MadisonText {
      font-family: 'Courier New', Courier, monospace;
  }

  .Liliana {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: black solid 10px;
        background-color: plum;
  }

  .LilianaText {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

  .Dustin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: black solid 10px;
    background-color: red;
  }

  .DustinText {
      font-family: Arial, Helvetica, sans-serif;
      color: white;
  }

  .Issy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: black solid 10px;
    background-color: rgb(255, 255, 99)
  }

  .IssyText {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }